<script>
  import Header from "./Header.svelte";
  import Footer from "./Footer.svelte";
  import Section from "./Section.svelte";

  import * as Cyclic from "../cyclic/properties.js";
  import * as Elementary from "../elementary/properties.js";
  import * as Life from "../life/properties.js";
  import * as LargerThanLife from "../larger-than-life/properties.js";

  import * as FlowField from "../flow-field/properties.js";

  const CA = [
    Elementary,
    Life,
    LargerThanLife,
    Cyclic
  ];

  const NOISE = [
    FlowField
  ];
</script>

<Header/>

<article>
  <h2>Cellular Automata</h2>

  {#each CA as { description, route, source, title }}
    <Section {description} {route} {source} {title}/>
  {/each}

  <h2>Noise</h2>

  {#each NOISE as { description, route, source, title }}
    <Section {description} {route} {source} {title}/>
  {/each}
</article>

<Footer/>
