<script>
  import Nav from "./Nav.svelte";
</script>

<header>
  <Nav/>

  <h1>gen.garrandall.com</h1>

  <summary>
    Sometimes I get interested in generative art, and I put the things I make here. This project's source code is accessible on <a href="https://gitlab.com/garrandall/gen.garrandall.com" target="blank">gitlab</a>.
  </summary>

</header>
