<div class="nav">
  <span>garrett randall</span>
  <span><a target="blank" href="mailto:garrett.d.randall@gmail.com">email</a></span>
  <span><a target="blank" href="https://github.com/garrandall">github</a></span>
  <span><a target="blank" href="https://gitlab.com/garrandall">gitlab</a></span>
  <span><a target="blank" href="https://www.linkedin.com/in/garrandall/">linkedin</a></span>
</div>
