<script>
export let description;
export let route;
export let source;
export let title;
</script>

<section>
  <div class="container">
    <h3>{title}</h3>

    <p>
      <strong><a target="blank" href={route}>demo</a></strong>
      <strong><a target="blank" href={source}>src</a></strong>
    </p>

    <p>{@html description}</p>
  </div>
  <div class="img-container">
    <img class="sample-img" src="{route}/sample.png" alt="sample"/>
  </div>
</section>
