body {
  background: rgb(42, 42, 42);
  font-size: 12px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.control-buttons, .control-p {
  background: #1a1a1a;
}

.control-buttons {
  padding: 0;
}

h1 {
  font-size: 1rem;
  margin: 0;
}

.control-buttons > .button-row-button {
  border: 0;
  border-bottom: 3px solid;
  border-bottom-color: transparent;
  border-radius: 0;
  background:none;
  color: rgb(238, 238, 238);
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem;
  margin: 0;
  margin-left: 4px;
  cursor: pointer;
  font-weight: normal;
}

.control-buttons > .button-row-button:hover {
  background: #2c2c2c;
}

.control-p {
  padding: 4px 4px 0 8px;
}

.control-p > p {
  margin: 4px 0 0;
}
