body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 100%;
  margin: 20px 15%;
}

p {
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #ccc;
}

h3 {
  margin: 0;
}

hr {
  color: #ccc;
}



section {
  flex-basis: 100%;
  margin: 3px;
  display: flex;
  flex-flow: row wrap;
}


.container {
  width: 75%;
  display: inline-block;
  padding: 2px 0;
  flex-grow: 1;
}

.img-container {
  width: 25%;
  display: inline-block;
  padding: 2px 0;
  flex-grow: 1;
}

.sample-img {
  max-width: 100%;
  border-radius: 4px;
}

a {
  color: black;
  font-style: normal;
}

.nav {
  color: #ccc;
  text-align: right;
}

.nav > *:not(:last-child):after {
  content: " · ";
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
